/*
BUTTONS GEOMETRY
___
# class .button in (_parts/buttons.scss)
*/

$button-gap: 1rem;
$button-height: 2.857rem;
$button-border-radius: 5px;
$button-border: none;

%buttonsGeometry {
  position: relative;
  display: inline-block;
  height: $button-height;
  padding: 0 ($button-gap * 2);
  background-color: $third-color;
  border: 1px solid $button-border;
  border-radius: $button-border-radius;
  font-size: 11px;
  line-height: $button-height;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: $default-transition;
  color: #fff;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}