/*
FONTS
 */

$main-font: 'Rubik', sans-serif; // main font for the project
$title-font: 'Gilroy', sans-serif; // main font for the project
$base-font: $main-font; // default font for the project (_reset/base.scss)