/*
MAIN COLORS
*/

$base-bg: #fff; // BODY background

/* LOAD PAGE */
$body-load-bg: $base-bg; // BODY background on load page
$preloader-width: 2rem; // Preloader's size (width and height)
$preloader-default-color: #ccc; // Preloader's border color
$preloader-active-color: coral; // Preloader's border color
$preloader-border-width: 2px; // Preloader's border-width

/* MAIN COLORS */
$violet: #880e4f;
$orange: #ff8a65;
$pink: #f48fb1;
$primary-color: $black;
$secondary-color: $violet;
$third-color: $orange;



