/*
FONTS LOOP
 */

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Light.eot');
  src: url('../fonts/Rubik-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Rubik-Light.woff') format("woff"),
  url('../fonts/Rubik-Light.ttf') format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Rubik-Regular.woff') format("woff"),
  url('../fonts/Rubik-Regular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Rubik-Medium.woff') format("woff"),
  url('../fonts/Rubik-Medium.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Rubik-Bold.woff') format("woff"),
  url('../fonts/Rubik-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Black.eot');
  src: url('../fonts/Rubik-Black.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Rubik-Black.woff') format("woff"),
  url('../fonts/Rubik-Black.ttf') format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: url('../fonts/Gilroy-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Gilroy-Light.woff') format("woff"),
  url('../fonts/Gilroy-Light.ttf') format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Gilroy-ExtraBold.woff') format("woff"),
  url('../fonts/Gilroy-ExtraBold.ttf') format("truetype");
  font-weight: 700;
}