.view-header {
  position: relative;
  width: 100%;
  order: 1;
  @media (max-width: 1024px) {
    display: none;
  }
  &-info {
    background: linear-gradient(to right, #880e4f, #ff8a65);
    &__content {
      display: flex;
      justify-content: space-between;
      &__column {
        display: flex;
        align-items: center;
        height: 40px;
        &--left {
        }
        &--right {
          padding-right: 21px;
          .account-link {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .icon-account {
              display: inline-block;
              @include sprite($icon-account);
            }
            &__span {
              display: block;
              padding-left: 10px;
              text-transform: uppercase;
              color: #fff;
            }
          }
        }
        &__span {
          display: block;
          padding-right: 40px;
          font-size: 13px;
          font-weight: 300;
          color: #fff;
          &:last-child {
            padding-right: 0;
          }
        }
        &__link {
          border-bottom: 1px dotted transparent;
          color: #fff!important;
          &:hover {
            border-bottom: 1px dotted #fff;
          }
        }
      }
    }
  }
  &__content {
    border-bottom: 1px solid #e5e5e5;
    &__row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 119px;
      .search-form {
        display: block;
        &__field {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 350px;
          padding: 11px 8px 11px 15px;
          border-radius: 3px;
          background: #f0f0f0;
          &__label {
            display: block;
            .icon-search {
              display: inline-block;
              @include sprite($icon-search);
            }
          }
          .control-holder {
            flex-grow: 1;
            flex-shrink: 0;
            margin: 0 15px;
            border: none;
            background: none;
            font-weight: 300;
          }
          .button-submit {
            position: relative;
            display: block;
            width: 24px;
            height: 24px;
            border: none;
            background: none;
            &::before {
              content: '';
              position: absolute;
              top: calc(50% - 5px);
              left: calc(50% - 7.5px);
              display: block;
              width: 10px;
              height: 10px;
              border: 2px solid transparent;
              border-top: 2px solid #000;
              border-right: 2px solid #000;
              transform: rotate(45deg);
              transition: $default-transition;
            }
            &:hover {
              &::before {
                border-top-color: $secondary-color;
                border-right-color: $secondary-color;
              }
            }
          }
        }
      }
      .logo-link {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        transform: translate(-50%, -50%);
        &__img {
          width: 100%;
          max-width: 4.285rem;
        }
        &__title {
          display: block;
          padding-left: 20px;
          font-family: $title-font;
          font-size: 2.571rem;
          font-weight: 700;
        }
        &:hover {
          color: $secondary-color;
        }
      }
      &__column {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .social-list {
          display: flex;
          align-items: center;
          &__link {
            display: block;
            padding: 10px;
            .icon {
              display: inline-block;
              &-amazon {
                @include sprite($icon-amazon);
              }
              &-facebook {
                @include sprite($icon-facebook);
              }
              &-twitter {
                @include sprite($icon-twitter);
              }
              &-instagram {
                @include sprite($icon-instagram);
              }
            }
          }
        }
        .cart-link {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 87px;
          height: 40px;
          margin-left: 30px;
          padding: 0 15px;
          border-radius: 5px;
          background: $third-color;
          &:hover {
            background: $secondary-color;
          }
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 46px;
            height: 100%;
            border-right: 1px dashed #fff;
            opacity: .3;
          }
          .icon-cart {
            display: block;
            @include sprite($icon-cart);
          }
          &-count {
            color: #fff;
          }
        }
      }
    }
  }
  .main-nav {
    &-list {
      display: flex;
      justify-content: center;
      &__item {
        &__link {
          position: relative;
          display: flex;
          align-items: center;
          height: 80px;
          padding: 16px;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 700;
          &:hover {
            color: $third-color;
            .category-label {
              background: $third-color;
              &::before {
                border-left-color: $third-color;
              }
            }
          }
          .category-label {
            position: absolute;
            top: 14px;
            left: 16px;
            display: block;
            padding: 1.5px 5px;
            border-radius: 25px;
            font-size: 11px;
            font-weight: 300;
            color: #fff;
            transition: $default-transition;
            span {
              position: relative;
              z-index: 2;
            }
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 6px;
              display: block;
              border: 5px solid transparent;
              transform: translateY(50%);
              transition: $default-transition;
              pointer-events: none;
              z-index: 1;
            }
            &--new {
              background: $secondary-color;
              &::before {
                border-left-color: $secondary-color;
              }
            }
            &--sale {
              background: $pink;
              &::before {
                border-left-color: $pink;
              }
            }
          }
        }
      }
    }
  }
}
.view-header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #fff;
  z-index: 3;
  @media (min-width: 1025px) {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 0 15px;
      color: #555;
      &:not(:first-child):not(:last-child) {
        flex-grow: 1;
      }
      &:hover {
        color: $third-color;
      }
      &.logo-link {
        .logo-link__img {
          width: 100%;
          max-width: 50px;
          img {
            display: block;
            width: 100%;
          }
        }
      }
      &.button-cart {
        i {
          position: relative;
        }
        .cart-count {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: $third-color;
          font-size: 12px;
          font-weight: 300;
          color: #fff;
          transform: translate(50%, -50%);
        }
      }
      &.button-nav {
        .line-container {
          position: relative;
          display: block;
          width: 28px;
          height: 22px;
          .line {
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            margin-top: -1.5px;
            background: #555;
            transition: $default-transition;
            transform: translateX(0);
            &:first-child {
              top: 0;
              transform: translateX(1);
              margin-top: 0;
            }
            &:last-child {
              top: auto;
              bottom: 0;
              margin-top: 0;
              transform: translateX(1);
            }
            &:not(:first-child):not(:last-child) {
              &::before,
              &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 3px;
                background: #555;
                opacity: 0;
                transition: $default-transition;
              }
            }
          }
        }
        &.is-active {
          .line-container {
            .line {
              opacity: 1;
              &:first-child {
                top: 50%;
                opacity: 0;
              }
              &:last-child {
                bottom: 50%;
                opacity: 0;
              }
              &:not(:first-child):not(:last-child) {
                background: transparent;
                &::before,
                &::after {
                  opacity: 1;
                }
                &::before {
                  transform: rotate(-45deg);
                }
                &::after {
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
      i {
        &::before {
          font-size: 24px;
        }
      }
    }
    &-list {
      position: absolute;
      top: 50px;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: calc(100vh - 50px);
      padding: 50px 15px 0;
      background: #fff;
      transform: translateY(-50%) scaleY(0);
      transition: $slow-transition;
      overflow: auto;

      &.is-active {
        transform: translateY(0) scaleY(1);
      }
      &__item {
        margin-bottom: 25px;
        &__link {
          display: block;
          padding: 10px 25px;
          border-radius: 25px;
          background: $third-color;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          color: #fff;
          &:hover {
            background: $secondary-color;
          }
        }
      }
    }
  }
}