.view-section {
  position: relative;
  width: 100%;
  order: 2;
  flex-grow: 1;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
}
.main-slider {
  display: block;
  width: 100%;
  height: calc(100vh - 240px);
  @media (max-width: 1024px) {
    height: calc(100vh - 50px);
  }
  &__slide {
    position: relative;
    height: 100%;
    &__img {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__desc {
      position: absolute;
      bottom: 60px;
      left: 17.4%;
      @media (max-width: 1024px) {
        bottom: 30px;
        left: 30px;
      }
      .row-sale {
        display: flex;
        align-items: center;
        &__img {
          width: 100%;
          max-width: 30px;
          img {
            display: block;
            width: 100%;
          }
        }
        &-title {
          padding-left: 10px;
          font-size: 11px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, .7);
        }
      }
      .row-title {
        padding: 20px 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .row-category {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, .7);
      }
    }
  }
}