<header class="view-header">
    <div class="view-header-info">
        <div class="container">
            <div class="view-header-info__content">
                <div class="view-header-info__content__column view-header-info__content__column--left">
                    <span class="view-header-info__content__column__span">
                        Hello dear visitor. Good luck with shopping.
                    </span>
                    <span class="view-header-info__content__column__span">
                        Email us: <a href="mailto:support@shopflow.com" class="view-header-info__content__column__link">support@shopflow.com</a>
                    </span>
                    <span class="view-header-info__content__column__span">
                        Call us free: <a href="tel:+15417543788" class="view-header-info__content__column__link">+1-541-754-3788</a>
                    </span>
                </div>
                <div class="view-header-info__content__column view-header-info__content__column--right">
                    <a href="#" class="account-link">
                        <i class="icon-account"></i>
                        <span class="account-link__span">
                            Account
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="view-header__content">
        <div class="container">
            <div class="view-header__content__row">
                <form class="searh-form">
                    <div class="search-form__field">
                        <label for="search_request" class="search-form__field__label">
                            <i class="icon-search"></i>
                        </label>
                        <input id="search_request" name="search_request" type="text" class="control-holder" placeholder="Search entire store here..."/>
                        <button type="submit" class="button-submit"></button>
                    </div>
                </form>
                <a href="#" class="logo-link">
                    <span class="logo-link__img">
                        <img src="img/icons/icon-logo.png" alt="Logo image"/>
                    </span>
                    <span class="logo-link__title">
                        Shopflow
                    </span>
                </a>
                <div class="view-header__content__row__column">
                    <nav class="social-list">
                        <a href="#" class="social-list__link">
                            <i class="icon icon-amazon"></i>
                        </a>
                        <a href="#" class="social-list__link">
                            <i class="icon icon-facebook"></i>
                        </a>
                        <a href="#" class="social-list__link">
                            <i class="icon icon-twitter"></i>
                        </a>
                        <a href="#" class="social-list__link">
                            <i class="icon icon-instagram"></i>
                        </a>
                    </nav>
                    <a href="#" class="cart-link">
                        <i class="icon-cart"></i>
                        <span class="cart-link-count">
                            0
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-nav">
        <div class="container">
            <menu class="main-nav-list">
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Outerwear
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Jackets
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Blazers
                        <span class="category-label category-label--new">
                            <span>New</span>
                        </span>
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Dresses
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Jumpsuits
                        <span class="category-label category-label--sale">
                            <span>Sale</span>
                        </span>
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Tops
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Body
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Knitwear
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Trousers
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Jeans
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Shorts
                    </a>
                </li>
            </menu>
        </div>
    </nav>
</header>
<header class="view-header-mobile">
    <nav class="nav-mobile">
        <a href="#" class="nav-mobile__link logo-link">
            <span class="logo-link__img">
                <img src="img/icons/icon-logo.png" alt="Logo"/>
            </span>
        </a>
        <a href="#" class="nav-mobile__link">
            <i class="far fa-user"></i>
        </a>
        <a href="#" class="nav-mobile__link button-cart">
            <i class="fab fa-opencart">
                <span class="cart-count">0</span>
            </i>
        </a>
        <a href="#" class="nav-mobile__link">
            <i class="fas fa-search"></i>
        </a>
        <menu class="js-mobile-nav nav-mobile-list sl--scrollable">
            <li class="nav-mobile-list__item">
                <a href="#" class="nav-mobile-list__item__link">
                    Home page
                </a>
            </li>
            <li class="nav-mobile-list__item">
                <a href="#" class="nav-mobile-list__item__link">
                    Catalog
                </a>
            </li>
            <li class="nav-mobile-list__item">
                <a href="#" class="nav-mobile-list__item__link">
                    Sales
                </a>
            </li>
            <li class="nav-mobile-list__item">
                <a href="#" class="nav-mobile-list__item__link">
                    Delivery
                </a>
            </li>
            <li class="nav-mobile-list__item">
                <a href="#" class="nav-mobile-list__item__link">
                    Contacts
                </a>
            </li>
        </menu>
        <a href="#" class="js-button-nav nav-mobile__link button-nav">
            <span class="line-container">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </span>
        </a>
    </nav>
</header>