// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-account-name: 'icon-account';
$icon-account-x: 23px;
$icon-account-y: 0px;
$icon-account-offset-x: -23px;
$icon-account-offset-y: 0px;
$icon-account-width: 16px;
$icon-account-height: 18px;
$icon-account-total-width: 60px;
$icon-account-total-height: 60px;
$icon-account-image: '../img/sprite.png';
$icon-account: (23px, 0px, -23px, 0px, 16px, 18px, 60px, 60px, '../img/sprite.png', 'icon-account', );
$icon-amazon-name: 'icon-amazon';
$icon-amazon-x: 0px;
$icon-amazon-y: 23px;
$icon-amazon-offset-x: 0px;
$icon-amazon-offset-y: -23px;
$icon-amazon-width: 16px;
$icon-amazon-height: 16px;
$icon-amazon-total-width: 60px;
$icon-amazon-total-height: 60px;
$icon-amazon-image: '../img/sprite.png';
$icon-amazon: (0px, 23px, 0px, -23px, 16px, 16px, 60px, 60px, '../img/sprite.png', 'icon-amazon', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 44px;
$icon-cart-y: 0px;
$icon-cart-offset-x: -44px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 16px;
$icon-cart-height: 18px;
$icon-cart-total-width: 60px;
$icon-cart-total-height: 60px;
$icon-cart-image: '../img/sprite.png';
$icon-cart: (44px, 0px, -44px, 0px, 16px, 18px, 60px, 60px, '../img/sprite.png', 'icon-cart', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 21px;
$icon-facebook-y: 23px;
$icon-facebook-offset-x: -21px;
$icon-facebook-offset-y: -23px;
$icon-facebook-width: 16px;
$icon-facebook-height: 16px;
$icon-facebook-total-width: 60px;
$icon-facebook-total-height: 60px;
$icon-facebook-image: '../img/sprite.png';
$icon-facebook: (21px, 23px, -21px, -23px, 16px, 16px, 60px, 60px, '../img/sprite.png', 'icon-facebook', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 42px;
$icon-instagram-y: 23px;
$icon-instagram-offset-x: -42px;
$icon-instagram-offset-y: -23px;
$icon-instagram-width: 16px;
$icon-instagram-height: 16px;
$icon-instagram-total-width: 60px;
$icon-instagram-total-height: 60px;
$icon-instagram-image: '../img/sprite.png';
$icon-instagram: (42px, 23px, -42px, -23px, 16px, 16px, 60px, 60px, '../img/sprite.png', 'icon-instagram', );
$icon-search-name: 'icon-search';
$icon-search-x: 0px;
$icon-search-y: 0px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: 0px;
$icon-search-width: 18px;
$icon-search-height: 18px;
$icon-search-total-width: 60px;
$icon-search-total-height: 60px;
$icon-search-image: '../img/sprite.png';
$icon-search: (0px, 0px, 0px, 0px, 18px, 18px, 60px, 60px, '../img/sprite.png', 'icon-search', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 0px;
$icon-twitter-y: 44px;
$icon-twitter-offset-x: 0px;
$icon-twitter-offset-y: -44px;
$icon-twitter-width: 16px;
$icon-twitter-height: 16px;
$icon-twitter-total-width: 60px;
$icon-twitter-total-height: 60px;
$icon-twitter-image: '../img/sprite.png';
$icon-twitter: (0px, 44px, 0px, -44px, 16px, 16px, 60px, 60px, '../img/sprite.png', 'icon-twitter', );
$spritesheet-width: 60px;
$spritesheet-height: 60px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-account, $icon-amazon, $icon-cart, $icon-facebook, $icon-instagram, $icon-search, $icon-twitter, );
$spritesheet: (60px, 60px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
